{% extends 'base.html' %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="row">
    <div class="col-11 col-md-6">
        <h1>Ingresar</h1>
        {% if messages %}
        <div class="alert alert-danger">
            El formulario contiene errores.
        </div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="button" type="submit"> Enviar</button>
        </form>
        <a href="{% url 'register_form'%}">Si no estas registrado, registrese aquí.</a>
    </div>
</div>
{% endblock %}